/*--------------------------------------------------------------
# Defaults
--------------------------------------------------------------*/

/*
 * text-underline-offset doesn't work in Chrome at all 👎
 * But looks nice in Safari/Firefox, so let's keep it and
 * maybe Chrome will support it soon.
 */
a {
	cursor: pointer;
	text-underline-offset: 3px;
	text-decoration-skip-ink: all;
}

.container, .container-fluid {
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 100%;
}

/* Small screen */
@media only screen and ( min-width: 576px ) {
    .container {
        max-width: var(--wp--custom--container-max-widths--sm);
    }
}

/* Tablet */
@media only screen and ( min-width: 768px ) {
    .container {
        max-width: var(--wp--custom--container-max-widths--md);
    }
}

/* Desktop */
@media only screen and ( min-width: 992px ) {
    html {
        line-height: var(--wp--custom--line-height--lg);
    }

    .container, .container-fluid {
        padding: 0;
    }

    .container {
        max-width: var(--wp--custom--container-max-widths--lg);
    }
}

/* Large screen */
@media only screen and ( min-width: 1200px ) {
    .container {
        max-width: var(--wp--custom--container-max-widths--xl);
    }
}
