/*--------------------------------------------------------------
# Parts
--------------------------------------------------------------*/
.site-header {
	padding: 10px 0;

	& > .wp-block-group {
		display: flex;
		justify-content: space-between;
	}

	h1 {
		margin: 0;
		line-height: 1;
		a {
	   		text-decoration: none;
	   	}
	}
}
