/*--------------------------------------------------------------
# Parts
--------------------------------------------------------------*/
.site-header {
	padding: 10px 0;

	& > .wp-block-group {
		justify-content: space-between;
		align-content: center;
	}

	h2 {
		margin-bottom: 0;
		line-height: 1;
		a {
	   		text-decoration: none;
	   	}
	}
}
